<div class="c1-m-spending-category-list">
	<ul>
		<li ng-repeat="category in orderedCategories | limitTo:numberofCate track by $index" class="category-list">
			<div class="row" ng-click="loadTransaction(category.categoryId)">
				<div class="col col-67 chart_legend chart_legend_scheme{{$index}} item-text-wrap">{{category.name}}</div>
				<div class="col item-text-wrap" style="text-align:right;">{{category.y | currency}}</div>
				
			</div>

			<div class="animate-if2 row row-no-padding" ng-if="onClickLoadTransaction==='enable' && currentViewingCategoryId==category.categoryId">
				<div class="col col-no-padding">
					<c1-m-spending-selected-category-trans-list category-id="currentViewingCategoryId" category-name=category.name></c1-m-spending-selected-category-trans-list>
				</div>
			</div>
		</li>
	</ul>
</div>