<div class="c1-m-spending-selected-category-trans-list spending-category-list category-id{{categoryId}}">
	<ul>
		<li ng-repeat="transDate in transactionList.dateOrderArray">
			<div class="transaction-heading">{{transDate | date:'MMM dd, yyyy'}}</div>
			<div class="transaction-list-by-date-wrapper">
				<div class="row transaction-by-date" ng-repeat="transaction in transactionList.transactionMap[transDate]">
					<div class="col col-70 item-text-wrap">
						<div class="spending-description">{{transaction.fullDescription}}</div>
						<div class="spending-category">{{getCateName(transaction.categoryId)}}</div>
					</div>
					<div class="col col-center item-text-wrap" style="text-align:right;">{{transaction.amount.value | currency}}</div>
				</div>
			</div>
		</li>
	</ul>
	<div id="transactionSvc-error" class="error">Service Not Available</div>
</div>