<ion-view view-title="Budgets">
	<div class="bar bar-subheader bar-spending-subheader">
	  <c1-m-spending-subheading prop="spendingSubheading" type="changeAccount"></c1-m-spending-subheading>
	</div>
	<ion-pane>
		<ion-content class="has-subheader">
			<div id="budgetTransactions">
				<div id="budgets">
					<c1-m-spending-budget-item show-overview='false' show-category={{categoryId}}></c1-m-spending-budget-item>
				</div>
				<div id="transcaction">
					<h4>Transactions</h4>
					<c1-m-spending-selected-category-trans-list category-id="categoryId" category-name="categoryName" ng-if="categoryId"></c1-m-spending-selected-category-trans-list>
				</div>
				<div id="error">This service is temporarily unavailable. <br />Please try again later.</div>
			</div>
		</ion-content>
	</ion-pane>
</ion-view>