<ion-view view-title="Spending">
<div class="bar bar-subheader bar-spending-subheader">
  <c1-m-spending-subheading prop="spendingSubheading"></c1-m-spending-subheading>
</div>
<ion-pane>
	<ion-content class="has-subheader spending-home">

		

		<div id="spending-summary-overview" class="widget" ng-click="sectionClicked('spendingSummary')">
			<c1-m-spending-widget-heading prop="spendingWidgetHeading" heading="Spending Summary"></c1-m-spending-widget-heading>

			<div class="widget-body">
				<div class="row row-no-padding widget-body-has-data">
					<div class="col col-no-padding">
						<c1-m-spending-pie-chart prop="spendingSubheading"></c1-m-spending-pie-chart>
					</div>
					<div class="col col-no-padding col-67 spending-info">
						<p class="spending-info-heading">Top Spending:</p>
						<c1-m-spending-category-list number-of-Category="3"></c1-m-spending-category-list>
					</div>
				</div>
				<div class="widget-body-no-data" style="display:none;">
					no spending data
				</div>
			</div>
		</div>

		<div id="budget-summary-overview" class="widget" ng-click="sectionClicked('budgetSummary')">
			<c1-m-spending-widget-heading prop="spendingWidgetHeading" heading="Budgets Summary" link="templates/home.html"></c1-m-spending-widget-heading>

			<div class="widget-body">
				<div class="widget-content widget-body-has-data">
					<c1-m-spending-budget-item show-overview=true></1-m-spending-budget-item>
				</div>
				<div class="widget-content widget-body-no-data" style="display:none;">
					no budgets data
				</div>
				<div class="widget-content widget-body-data-error" style="display:none;">
					error retreving data
				</div>
			</div>
		</div>

		<div id="trends-summary" class="widget">
			<div class="widget-heading">
				<h4>Trends Summary</h4>
				<a href="#" class="navigator-right"><i class="icon ion-chevron-right"></i></a>
			</div>

			<div class="widget-body">
				<div class="row widget-body-has-data">
					<c1-m-spending-line-chart prop="spendingSubheading"></c1-m-spending-line-chart>
				</div>
				<div class="widget-body-no-data" style="display:none;">
					no trends data
				</div>
			</div>
		</div>
	</ion-content>
</ion-pane>
</ion-view>