<ion-view view-title="Spending Summary">
	<ion-content>
		<div class="row"><h3>Spending</h3></div>
		<div class="row">
			<div class="col">
				<highchart id="SAWChart" config="SAWChartConfig"></highchart>
			</div>
			<div class="col">
				<ul class="list">
					<li class="item" style="border: none; padding: 12px;">Travel</li>
					<li class="item" style="border: none; padding: 12px;">Mortgages</li>
					<li class="item" style="border: none; padding: 12px;">Taxes</li>
				</ul>
			</div>
		</div>
	</ion-content>
</ion-view>