/*Create mixin when we use Sass/Less*/
/*@mixin overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }*/

.bar-spending-chart-subheader{
  padding: 0;
}
.c1-m-spending-subheading{
  background: #ECF0F1;
}
.c1-m-spending-subheading .page-heading .col{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bar-spending-subheader{
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none;
  border-bottom: none;
  padding: 0;
}
.page-heading .col:last-child{
	text-align: right;
}
.widget{
	min-height: 120px;
	padding: 10px;
}
.widget-heading{
	position: relative;
}
.widget-heading .navigator-right{
	position: absolute;
	right: 0;
	top: 0;
}
.widget-heading .navigator-right .icon{
	font-size: 24px;
	color: #ccc;
}
.bar .title{
	font-size: 19px;
}
h4{
	font-size: 15px;
	font-weight: bold;
}
.spending-info .row,
.spending-info .col{
  padding: 0;
}

/*charts*/
.chart_legend_scheme0:before{
    background-color: #3366CC;
}
.chart_legend_scheme1:before{
    background-color: #DC3912;
}
.chart_legend_scheme2:before{
    background-color: #FF9900;
}
.chart_legend_scheme3:before{
    background-color: #109618;
}
.chart_legend_scheme4:before{
    background-color: #990099;
}
.chart_legend_scheme5:before{
    background-color: #0099C6;
}
.chart_legend_scheme6:before{
    background-color: #DD4477;
}
.chart_legend_scheme7:before{
    background-color: #66AA00;
}
.chart_legend_scheme8:before{
    background-color: #B82E2E;
}
.chart_legend_scheme9:before{
    background-color: #316395;
}
.chart_legend_scheme10:before{
    background-color: #994499;
}
.chart_legend_scheme11:before{
    background-color: #FF9900;
}
.chart_legend:before {
    content: '';
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    margin-bottom: -2px;
    width: 10px;
}
#SAWChart{
	margin-left: -16px;
}
.col-70 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%; 
}
.col.col-no-padding,
.row.row-no-padding{
	padding: 0;
}
.col.chart_legend{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.spending-category-list .row{
  padding: 5px 5px 5px 0;
}
.spending-category-list .chart_legend{
  font-weight: bold;
}
#spending-summary-overview .row{
  padding-bottom: 10px;
}
.spending-info-heading{
  padding-top: 10px;
}
#top-spending-category-list .spending-info-heading{
	padding: 10px 0 0 20px;
  margin-bottom: 5px;
}
.spending-category-list ul li.category-list{
  border-top: 1px solid #ccc;
}
a{
  text-decoration: none;
  color: #0c63ee;
}
.widget{
  border-bottom: 1px solid #e1e1e1;
}
.bar-spending-chart-subheader {
    top: 44px;
    height: 214px;
}
.has-spending-chart-as-subheader {
    top: 258px !important;
}
.platform-ios.platform-cordova .has-spending-chart-as-subheader{
  top: 278px !important;
}
.transaction-heading{
  background: #ECF0F1;
  text-align: center;
  padding: 3px 10px;
  color: #333;
}
/*.spending-category-list*/ .transaction-list-by-date-wrapper{
  padding: 0 0 0 17px;
}
/*.spending-category-list*/ .transaction-by-date{
  border-bottom: 1px solid #ccc;
  padding: 0;
}
/*.spending-category-list*/ .transaction-by-date:last-child{
  border-bottom: none;
}
.spending-category-list .chart_legend{
  padding-left: 18px;
}
.spending-category-list .chart_legend:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 10px;
}
.spending-category-list li{
  position: relative;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
}
.animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.spending-category{
  color: #333;
}
.transaction-by-date + .transaction-by-date{
  margin-top: 0;
}
/************
Error
************/
#spending-accounts #account-group-list #groupSvc-error, 
#spending-accounts #account-list #accountSvc-error,
#budgetTransactions-error,
#transactionSvc-error{
  display: none;
  color: #333333;
  padding: 10px;
}
#top-spending-category-list #transactionSvc-error{
  border-top: 1px solid #cccccc;
}
/************
Accounts page
************/

/*Common*/
#spending-accounts{
  color: #333333;
  font-family: HelveticaNeue-Medium;
  font-size: 16px;
}
#spending-accounts .list{
  margin-bottom: 0;
}
#spending-accounts li:first-child{
  border-top: none;
}
#spending-accounts #all-accounts,
#spending-accounts .header,
#spending-accounts li{
  color: #333333;
  padding: 10px;
}
#spending-accounts .header{
  background-color: #ECF0F1;
  color: #4f4f4f;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
}
/*"All Accounts" section*/
#spending-accounts #all-accounts{
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
  display: none;
}

/*Group list section*/
#spending-accounts #account-group-list li{
  line-height: 32px;
  min-height:62px;
}

/*Account list section*/
#spending-accounts #account-list ul li .currency{
  font-family: HelveticaNeue-Light;
  padding-top: 5px;
}

.item-icon-left .item-content {
  padding-left:3em;  
}

.item-icon-left i {
  left:0;
  right: auto;
}
.item-radio .radio-icon{
  visibility: visible;
  color: #387ef5;
  top: 2px;
  font-size: 18px;
}

.c1-m-spending-budget-item .row,
.c1-m-spending-budget-item .col{
  padding: 0;
}
.c1-m-spending-budget-item .budget-category-title{
  font-weight: bold;
}
.c1-m-spending-budget-item .budget-category-status{
  text-align: right;
  color: #333;
}
.budget-bar{
  margin: 6px 0;
}
.budget-bar .underlay{
  background: #ccc;
  height: 20px;
}
.budget-bar .progressbar{
  height: 20px;
  max-width: 100%;
  position: relative;
  width: 0%;
  float:left;
}

.progressbar{
  width: 0;
      -webkit-transition: width 10s ease-in-out;
    -moz-transition: width 10s ease-in-out;
    -o-transition: width 10s ease-in-out;
    transition: width 10s ease-in-out;
}

.animate-if {
  width: 0px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}


.budget-bar .progressbar span{
  position: absolute;
  top: 0px;
  right: 5px;
  color: #fff;
  font-weight: bold;
}
.budget-bar span.small-budget-spent{
  color: #444;
  margin-left: 5px;
  display: none;
  font-weight: bold;
}
.small-budget .budget-bar span.small-budget-spent{
  display: inline-block;
}
.small-budget .budget-bar .progressbar span{
  display: none;
}

.on-budget .progressbar{
  background: #67a53d;
}
.over-budget .progressbar{
  background: #e06b66;
}
.near-budget .progressbar{
  background: #F0E38B;
}
.over-budget .budget-category-status{
  color: #e06b66;
}
#budgets .c1-m-spending-budget-item{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
#budgetTransactions h4, 
#budgetTransactions #error {
  padding-left: 10px;
}
#budgetTransactions #error {
  display: none;
}
.c1-m-spending-trends-chart .monthControl {
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 59px;
    padding: 6px 3px;
}
.c1-m-spending-trends-chart .monthControl.active {
    border: 1px solid red;
}
.spending-home .widget{
  position:relative;
}
.spending-home .widget .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}
